<div>
    <p></p>
    <h3>Регистрация</h3>

    <form novalidate ng-submit="tryRegistrUser()">
        <div class="mb-3">
            <label  class="form-label">Логин</label>
            <input type="text" class="form-control" placeholder="Введите логин" ng-model="user1.username">
        </div>
        <div class="mb-3">
            <label  class="form-label">Пароль</label>
            <input type="password" class="form-control" placeholder="Введите пароль" ng-model="user1.password">
        </div>
        <div class="mb-3">
            <label  class="form-label">Email</label>
            <input type="text" class="form-control" placeholder="Введите вашу почту" ng-model="user1.email">
        </div>
        <p></p>
        <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
    </form>
</div>