<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="app.js"></script>
</head>
<body ng-app="market-front">
<div class="container" ng-controller="appController">
    <h2>Главная страница</h2>
    <table class="table">
        <thead>
        <tr>
            <td>ID</td>
            <td>Название</td>
            <td>Цена</td>
            <td>Изменение</td>
            <td>Удаление</td>
            <td>В корзину</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="p in productsPage.content">
            <td>{{p.id}}</td>
            <td>{{p.name}}</td>
            <td>{{p.price}}</td>
            <td>
                <button type="button" class="btn btn-primary" ng-click="prepareProductForUpdate(p.id)">Изменить</button>
            </td>
            <td>
                <button type="button" class="btn btn-primary" ng-click="delProduct(p.id)">Удалить</button>
            </td>
            <td>
                <button type="button" class="btn btn-primary" ng-click="ProductInCart(p.id)">В корзину</button>
            </td>
        </tr>
        </tbody>
    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" aria-label="Previous" ng-click="prevPage()">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            <li class="page-item" ng-repeat="pageIndex in paginationArray">
                <button class="page-link" ng-click="loadProducts(pageIndex)">{{pageIndex}}</button>
            </li>

            <li class="page-item">
                <a class="page-link" aria-label="Next" ng-click="nextPage()">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>

    <p></p>

    <h3>Добавление нового продукта</h3>

    <form novalidate ng-submit="createNewProduct()">
        <div class="mb-3">
            <label class="form-label">Название</label>
            <input type="text" class="form-control" placeholder="Название" ng-model="new_product.name">
        </div>
        <div class="mb-3">
            <label class="form-label">Цена</label>
            <input type="text" class="form-control" placeholder="Цена" ng-model="new_product.price">
        </div>

        <button type="submit" class="btn btn-primary">Добавить</button>
    </form>
    <p></p>

    <p></p>

    <h3>Изменение выбранного продукта</h3>

    <form novalidate ng-submit="updateProduct()">
        <div class="mb-3">
            <label class="form-label">Название</label>
            <input type="text" class="form-control" placeholder="Название" ng-model="update_product.name">
        </div>
        <div class="mb-3">
            <label class="form-label">Цена</label>
            <input type="text" class="form-control" placeholder="Цена" ng-model="update_product.price">
        </div>

        <button type="submit" class="btn btn-primary">Сохранить изменения</button>
    </form>
    <p></p>
</div>
</body>
</html>